/*
 * Page layout
 */

body {
    background-image: url("./../images/castle.png");
    background-size: cover;
    color: white;
}

/*
 * Navigation
 */

nav {
    background-color: transparent
    color: #ffa3de; 
    /*pink^*/
}

/*
 * Bootstrap navbar
 */

.navbar-custom {
    background-color: #ff93d8;
    /*pink^*/
    color: #070a47;
    /*navy^*/
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
    padding: 0.8rem 1rem;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    padding: 1rem 1rem;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: white;
    /*color: #ffbe3d;*/
    /*gold*/
    /*background-color: black;  add background-color to active links */
}

/*
 * Bootstrap Pagination
 */

.pagination > li.page-item {
    background-color: transparent;
    border: 1px solid #D8C3A5;
    color: #EAE7DC;
    font-size: 0.75rem;
    /* line-height: 1rem; */
    text-decoration: none;
}

.pagination > li.page-item.active {
    background-color: #E85A4F;
    color: #EAE7DC;
    padding: 0.25rem 0.75rem;
}

/*
 * HTML 5 main
 */

main {
    background-color: transparent;
}

.container-fluid {
    background-color: transparent;
    /*padding: 0.5rem 0.5rem;*/
}

ul {
    list-style-type: none;
}

/*
 * Footer
 */

footer {
    background-color: #ff93d8; 
    /*pink*/ 
    color: #070a47;
    padding: 0.8rem 1rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a:link {
    background-color: transparent;
    color: #070a47;
    /*navy*/
    text-decoration: none;
}

footer a:active {
    background-color: transparent;
    color: white;
}

footer a:hover {
    background-color: transparent;
    color: white;
    /* color: #D8C3A5; */
}

footer a:visited {
    color: #070a47;
    /*navy*/
    text-decoration: none;
}

footer p {
    background-color: transparent;
    display: block;
    text-align: left;
    font-size: 0.875rem;
    font-stretch: condensed;
    color: white;
}

/*
 * Headings
 */

h1, h2, h3, h4 {
    color: white; 
    /* margin-top: 1em; */
    margin-bottom: 0.5rem;
    text-align: left;
}

/*
 * Paragraphs
 */

p {
    /* color: #8E8D8A; */
    color: white;
    text-align: justify;
}

/*
 * Links
 * https://www.w3schools.com/css/css_link.asp
 */

a:link {
    background-color: transparent;
    color: #ffbe3d;
    /*gold*/
    text-decoration: none;
}

a:hover {
    background-color: transparent;
    color: white;
    /* gold */
}

a:active {
    background-color: transparent;
    color: white;
}

a:visited {
    background-color: transparent;
    /*color: #EDF5E1;*/
    color: #cecece;
    /*light grey*/
    text-decoration: none;
}

.btn-outline-success {
    color: #E85A4F;
    border-color: #E85A4F;
}

.btn-outline-success:hover {
    color: white;
    background-color: #E85A4F;
}

/*
 Movie detail page stuff
 */
.col-sm-2 p{
    color: #ffbe3d;
    /*gold*/
}

.col-sm-2{
    width: 700px;
}

/*.col-sm-10{
    text-align: right;
}
*/

.chars a{
    color: white;
}

div.movie-detail{
    background-color: black;
    padding: 30px;
    display: inline-flex;
    width: 60%;
}

/*.title-image{


}*/

.block1{
    width: 80%;
    padding: 2%;
}

.block2{
    width: 40%;
    padding: 2%;
    /*text-align: grid;*/
    /*display: ;*/
}


