{% extends 'disneymovies/base.html' %}

    {% block content %}

     {% if user.is_authenticated %}

     <header>
       <div class="row">
         <div class="col-sm-10">
           <h3>{{ movie_character.movie_character_name | safe }}</h3>
         </div>
         <div class="col-xs-1">
         </div>
       </div>
     </header>
   

      <div class="row">
        <div class="col-sm-2">
          <p>Actor:</p>
        </div>
        <div class="col-sm-10">
          {% for actor in movie_character.actors.all %}
           <p>{{ actor.actor_name | safe }}</p> 
          {% endfor %}
        </div>
      </div>

<!--       <div class="row">
        <div class="col-sm-2">
          <p>Movie:</p>
        </div>
        <div class="col-sm-10">
          {% for actor in movie_character.movie.all %}
           <p>{{ actor.movie_title | safe }}</p> 
          {% endfor %}
        </div>
      </div> -->


    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}

   
   {% endblock content %}