{% extends 'disneymovies/base.html' %}
<!-- {% load staticfiles %} -->
{% block content %}

<article>
<header>
<h2>Disney Movies</h2>
</header>

   {% if movies %}
      <ul>  
        {% for movie in movies %}
        <!-- safe filter on for raw HTML stored in database -->
        <li><a href="{% url 'movie_detail' movie.pk %}">{{ movie.movie_title | safe }}</a></li>
        {% endfor %}
      </ul>

      {% else %}
      <p>No Disney Movies are available to view.</p>
   {% endif %}

<p>page count: {{ sites.count }}</p>
 </article>


<!-- <div class = "senior-grid"> -->
	<!--Photo Gallery-->
	<!-- <section class="around-images">
		<h1>Seniors</h1>
		<div class="photo-grid">

			<a class="photo-cell item1" href="images/Seniors/ccolor.jpg" data-lightbox="example-set"><img class="photo-cell item1" src="images/Seniors/ccolor.jpg" alt="A girl with her guitar"/></a>


			<a class="photo-cell item2" href="images/Seniors/mbw.jpg" data-lightbox="example-set"><img class="photo-cell item2" src="images/Seniors/mbw.jpg" alt="A girl on the beach"/></a>


			<a class="photo-cell item3" href="images/Seniors/mcolor.jpg" data-lightbox="example-set"><img class="photo-cell item3" src="images/Seniors/mcolor.jpg" alt="A girl in the woods"/></a>


			<a class="photo-cell item4" href="images/Seniors/cbwguitar.jpg" data-lightbox="example-set"><img class="photo-cell item4" src="images/Seniors/cbwguitar.jpg" alt="A girl playing a guitar"/></a>



			<a class="photo-cell item5" href="images/Seniors/Andrew14.jpg" data-lightbox="example-set"><img class="photo-cell item5" src="images/Seniors/Andrew14.jpg" alt="A boy in the woods"/></a>


			<a class="photo-cell item6" href="images/Seniors/Andrew.jpg" data-lightbox="example-set"><img class="photo-cell item6" src="images/Seniors/Andrew.jpg" alt="A boy playing golf"/></a>

		</div>
	</section>
</div>
 -->
{% endblock content %}