{% extends 'disneymovies/base.html' %}
<!-- {% load staticfiles %} -->
{% block content %}

<article>
<!-- <header>
<h1>Disney Movies</h1>
</header>
 -->
   {% if movies %}
      <ul>  
        {% for movie in movies %}
        <!-- safe filter on for raw HTML stored in database -->
        <li><a href="{% url 'movie_detail' movie.pk %}">{{ movie.movie_title | safe }}</a></li>
        {% endfor %}
      </ul>

      {% else %}
      <p>No Disney Movies are available to view.</p>
   {% endif %}

<p>movie count: {{ movies.count }}</p>
 </article>

{% endblock content %}