{% extends 'disneymovies/base.html' %}

    {% block content %}
     <header>
       <div class="row">
         <div class="col-sm-10">
           <h3>{{ movie.movie_title | safe }}</h3>
         </div>
         <div class="col-xs-1">
         </div>
       </div>
     </header>
   
   <img src="/../../static/images/{{movie.movie_id}}.jpeg" alt="movie image">

    {% if movie.director.director_name %}
      <div class="row">
        <div class="col-sm-2">
          <p>Director:</p>
        </div>
        <div class="col-sm-10">
          <p>{{ movie.director.director_name | safe }}</p> 
        </div>
      </div>
    {% endif %}

     {% if movie.release_date %}
      <div class="row">
        <div class="col-sm-2">
          <p>Release Date:</p>
        </div>
        <div class="col-sm-10">
          <p>{{ movie.release_date | safe }}</p>
        </div>
      </div>
    {% endif %}

    {% if movie.genre.genre_name %}
      <div class="row">
        <div class="col-sm-2">
          <p>Genre:</p>
        </div>
        <div class="col-sm-10">
          <p>{{ movie.genre.genre_name | safe }}</p> 
        </div>
      </div>
    {% endif %}

    {% if movie.song %}
      <div class="row">
        <div class="col-sm-2">
          <p>Song:</p>
        </div>
        <div class="col-sm-10">
          <p>{{ movie.song | safe }}</p>
        </div>
      </div>
    {% endif %}

     
     {% if movie.total_gross %}
       <div class="row">
         <div class="col-sm-2">
           <p>Gross Total:</p>
         </div>
         <div class="col-sm-10">
           <p>{{ movie.total_gross | safe }}</p>
         </div>
       </div>
     {% endif %}
   

     {% if movie.inflation_gross %}
       <div class="row">
         <div class="col-sm-2">
           <p>Total After Inflation:</p>
         </div>
         <div class="col-sm-10">
           {{ movie.inflation_gross | safe }}
         </div>
       </div>
     {% endif %}


<!--     {% if movie.movie_character.movie_character_name %}
       <div class="row">
         <div class="col-sm-2">
           <p>Characters:</p>
         </div>
         <div class="col-sm-10">
           {{ movie.movie_character.movie_character_name | safe }}
         </div>
       </div>
     {% endif %} -->
   
   {% endblock content %}