{% extends 'disneymovies/base.html' %}

    {% block content %}
     <header>
       <div class="row">
         <div class="col-sm-10">
           <h3>{{ movie.movie_title | safe }}</h3>
         </div>
         <div class="col-xs-1">
           {% if user.is_authenticated %}
             <a class="btn btn-outline-secondary" href="{% url 'movie_update' movie.pk %}">Edit</a>
           {% endif %}
         </div>
         <div class="col-xs-1">
           {% if user.is_authenticated %}
             &nbsp;<a class="btn btn-outline-warning" href="{% url 'movie_delete' movie.pk %}">Delete</a>
           {% endif %}
         </div>
       </div>
     </header>

   <div class="movie-detail">
   
   <div class="block2"><img src="/../../static/images/{{movie.movie_id}}.jpeg" alt="movie image" class="title-image"></div>

  <div class="block1">
    {% if movie.director.director_name %}
      <div class="row">
        <div class="col-sm-2">
          <p>Director:</p>
        </div>
        <div class="col-sm-10">
          <p>{{ movie.director.director_name | safe }}</p> 
        </div>
      </div>
    {% endif %}

     {% if movie.release_date %}
      <div class="row">
        <div class="col-sm-2">
          <p>Release Date:</p>
        </div>
        <div class="col-sm-10">
          <p>{{ movie.release_date | safe }}</p>
        </div>
      </div>
    {% endif %}

    {% if movie.genre.genre_name %}
      <div class="row">
        <div class="col-sm-2">
          <p>Genre:</p>
        </div>
        <div class="col-sm-10">
          <p>{{ movie.genre.genre_name | safe }}</p> 
        </div>
      </div>
    {% endif %}

    {% if movie.song %}
      <div class="row">
        <div class="col-sm-2">
          <p>Song:</p>
        </div>
        <div class="col-sm-10">
          <p>{{ movie.song | safe }}</p>
        </div>
      </div>
    {% endif %}

     
     {% if movie.total_gross %}
       <div class="row">
         <div class="col-sm-2">
           <p>Gross Total:</p>
         </div>
         <div class="col-sm-10">
           <p>$ {{ movie.total_gross | safe }}</p>
         </div>
       </div>
     {% endif %}
   

     {% if movie.inflation_gross %}
       <div class="row">
         <div class="col-sm-2">
           <p>Total After Inflation:</p>
         </div>
         <div class="col-sm-10">
           <p>$ {{ movie.inflation_gross | safe }}</p>
         </div>
       </div>
     {% endif %}

<!-- 
    {% if movie.credit.movie_character.movie_character_name %}
       <div class="row">
         <div class="col-sm-2">
           <p>Characters:</p>
         </div>
         <div class="col-sm-10">
          {{ movie.credit.movie_character.movie_character_name | safe }}
         </div>
       </div>
    {% endif %} -->

  
        <div class="row">
         <div class="col-sm-2">
           <p>Characters:</p>
         </div>
         <div class="col-sm-10">
          {% for movie_character in movie.movie_characters.all %}
           <a class="chars" href="{% url 'char_detail' movie_character.pk %}">{{ movie_character.movie_character_name | safe }},</a>
          {% endfor %}
         </div>
       </div>
       

    </div>
  </div>

     
   
   {% endblock content %}