{% extends 'disneymovies/base.html' %}
<!-- {% load staticfiles %} -->
{% block content %}

<article>
<!-- <header>
<h1>Disney Movies</h1>
</header>
 -->
   {% if movie_characters %}
      <ul>  
        {% for movie_character in movie_characters %}
        <li><a href="{% url 'char_detail' movie_character.pk %}">{{ movie_character.movie_character_name }}</a></li>
        {% endfor %}
      </ul>

      {% else %}
      <p>No Disney Characters are available to view.</p>
   {% endif %}

<p>character count: {{ movie_characters.count }}</p>
 </article>

{% endblock content %}